<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythm — One & Multi Page Creative Theme</title>
    <link rel="shortuct icon" href="../others/titleimg.png">
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div><img src="../others/logo-dark.png" class="logo"></div>
        <nav class="active">
            <ul>
                <li><a href="#" class="active">HOME <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="dropdown">
                        <ul>
                            <li class="dropdown-content"><a href="#">MULTI PAGE</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">PAGES <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="dropdown">
                        <ul>
                            <li class="dropdown-content"><a href="#">GROUP 1</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">ELEMENTS <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="dropdown">
                        <ul>
                            <li class="dropdown-content"><a href="#">ACCORDITIONS</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">PORTFOLIO <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="dropdown">
                        <ul>
                            <li class="dropdown-content"><a href="#">BOXED</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">BLOG <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="dropdown">
                        <ul>
                            <li class="dropdown-content"><a href="#">CLASSIC</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">SHOP <i class="fa fa-angle-down" aria-hidden="true" style="margin-right: 35px"></i></a>
                    <div class="dropdown">
                        <ul>
                            <li class="dropdown-content"><a href="#">2</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i> SEARCH </a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> CART(0) </a></li>
                <li><a href="#">ENG <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
        <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true" style="color: black"></i></div>
    </header>
    <div class="intro">
        <h1 class="line1">BRANDING / DESIGN / DEVELOPMENT / PHOTO</h1>
        <h2 class="line2">CREATIVE STUDIO</h2>
        <button class="but">SEE MORE</button>
        <button class="but">PLAY REEL</button>
    </div>
    <div class="block">
        <ul>
            <li><a href="#">
                    <div class="block-images">
                        <img src="../others/1.jpg">
                    </div>
                </a></li>
            <li style="margin: auto 0.5%"><a href="#">
                    <div class="block-images">
                        <img src="../others/2.jpg">
                    </div>
                </a></li>
            <li><a href="#">
                    <div class="block-images">
                        <img src="../others/3.jpg">
                    </div>
                </a></li>
            <li><a href="#">
                    <div class="block-images">
                        <img src="../others/4.jpg">
                    </div>
                </a></li>
            <li style="margin: auto 0.5%">
                <a href="#">
                    <div class="block-images">
                        <img src="../others/5.jpg">
                    </div>
                </a></li>
            <li><a href="#">
                    <div class="block-images">
                        <img src="../others/6.jpg">
                    </div>
                </a></li>
        </ul>
    </div>

    <div class="createPro">
        <h3>LIKE OUR CREATIVE WORK?</h3>
        <button class="createProBut">START PROJECT</button>
    </div>
    <div class="stats">
        <div class="statsText">
            <h2>ABOUT STUDIO</h2>
            <a href="#">MORE ABOUT US <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="Random">
            <div class="statsBar">
                <div class="statsGraph">
                    <div class="percent" style="width:90%"></div>
                </div>
                <h6>BRANDING, 90%</h6>
                <div class="statsGraph">
                    <div class="percent" style="width: 80%"></div>
                </div>
                <h6>DESIGN, 80%</h6>
                <div class="statsGraph">
                    <div class="percent" style="width: 85%"></div>
                </div>
                <h6>DEVELOPMENT, 85%</h6>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque
                mattis. Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                nibh volutpat, accumsan purus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque
                mattis. Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                nibh volutpat, accumsan purus.</p>
        </div>
    </div>

    <div class="services">
        <h2>SERVICES</h2>
        <div class="branding">
            <div class="nextpic"><img src="../others/7.png">
                <h4>BRANDING</h4>
            </div>
            <div class="nextpic"><img src="../others/8.png">
                <h4 style="margin-top: 2px;">WEB DESIGN</h4>
            </div>
            <div class="nextpic"><img src="../others/9.png">
                <h4 style="margin-top: 5px;">GRAPHIC DESIGN</h4>
            </div>
            <div class="nextpic"><img src="../others/10.png">
                <h4>DEVELOPMENT</h4>
            </div>
            <div class="nextpic"><img src="../others/11.png">
                <h4 style="margin-top: 3px;">PHOTOGRAPHY</h4>
            </div>
        </div>
        <div class="one-liners">
            <p class="Paragraph">A brand for a company is like a reputation for a person. You earn reputation by trying
                to do
                hard things
                well.
            </p>
            <p>
                Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                In maximus ligula metus pellentesque mattis.
            </p>
            <p>
                Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                In maximus ligula metus pellentesque mattis.
            </p>
        </div>
        <h4>VIEW ALL SERVICES <i class="fa fa-angle-right"></i></h4>
    </div>

    <div class="PC">
        <div class="linea">
            <h3>LOOKING FOR EXCLUSIVE DIGITAL SERVICES?</h3>
            <p>
                Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.
                Integer non dapibus diam, ac eleifend lectus.
            </p>
            <button class="createProBut">LETS TALK</button>
        </div>
        <img class="PCimg" src="../others/12.png">
    </div>
    <div class="workProcess">
        <div class="writer">
            <h4>WORK PROCESS</h4>
            <p>Lorem ipsum dolor sit amet, c-r adipiscing elit. In maximus ligula semper metus pellentesque mattis.
                Maecenas volutpat, diam enim.</p>
        </div>
        <img src="../others/13.png">
    </div>
    <div class="chooseUs">
        <h2 style="margin-bottom: 32px;">WHY CHOOSE US?</h2>
        <div class="qualities">
            <div class="SubQual"><img src="../others/14.png">
                <h3>WE’RE CREATIVE</h3>
                <p>Lorem ipsum dolor sit amet, c-r adipiscing elit. In maximus ligula semper metus pellentesque mattis.
                    Maecenas volutpat, diam enim.</p>
            </div>
            <div class="SubQual"><img src="../others/15.png">
                <h3>WE’RE PUNCTUAL</h3>
                <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi
                    eleifend, lorem fermentum orci sit amet, iaculis libero.</p>
            </div>
            <div class="SubQual"><img src="../others/16.png" style="margin-top: 15px;">
                <h3>WE HAVE MAGIC</h3>
                <p>Curabitur iaculis accumsan augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh
                    tristique porta. Nulla facilisi. Suspendisse ultricies eros blandit.</p>
            </div>
            <div class="SubQual"><img src="../others/17.png">
                <h3>WE LOVE MINIMALISM</h3>
                <p>Cras luctus interdum sodales. Quisque quis odio dui. Sedes sit amet neque malesuada, lobortis commodo
                    magna ntesque pharetra metus vivera sagittis.</p>
            </div>
            <div class="SubQual"><img src="../others/18.png">
                <h3>WE’RE RESPONSIBLE</h3>
                <p>Fusce aliquet quam eget neque ultrices elementum. Nulla posuere felis id arcu blandit sagittis.
                    Eleifender vestibulum purus, sit amet vulputate risus.</p>
            </div>
            <div class="SubQual"><img src="../others/19.png">
                <h3>WE'RE FRIENDLY</h3>
                <p>Pulvinar vitae neque et porttitor. Integer non dapibus diam, ac eleifend lectus. Praesent sed nisi
                    eleifend, fermentum orci sit amet, iaculis libero interdum.</p>
            </div>
        </div>
    </div>

    <div class="review">
        <div class="Dquotes">
            <img src="../others/20.png">
            <h4>WHAT PEOPLE SAY?</h4>
            <p>
                Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                risus utaliquam dapibus. Thanks!
            </p>
            <h3>
                - JOHN DOE, DOODLE INC.
            </h3>
        </div>
        <div class="Dquotes Q1">
            <img src="../others/20.png">
            <h4>WHAT PEOPLE SAY?</h4>
            <p>
                Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                risus utaliquam dapibus. Thanks!
            </p>
            <h3>
                - JOHN DOE, DOODLE INC.
            </h3>
        </div>
    </div>
    <div class="bestSell">
        <div class="statsText">
            <h2>BESTSELLERS</h2>
            <a href="#">OUR SHOP <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="shop">
            <div class="items" style="left: 0">
                <div class="Sale">SALE</div>
                <img src="../others/21.jpg">
                <a href="#">G-STAR POLO APPLIQUE JERSEY</a>
                <h4><small><strike>$150.00</strike></small> $94.75</h4>
                <button><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
            </div>
            <div class="items">
                <img src="../others/22.jpg">
                <a href="#">ONLY & SONS PIQUE POLO SHIRT</a>
                <h4>$28.99</h4>
                <button><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
            </div>
            <div class="items">
                <img src="../others/23.jpg">
                <a href="#"> BLUE LONGLINES LONG SLEEVES</a>
                <h4>$39.99</h4>
                <button><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
            </div>
            <div class="items" style="margin-right: 0">
                <img src="../others/24.jpg">
                <a href="#">POLO WITH FLORAL SLEEVES</a>
                <h4>$85.99</h4>
                <button><i class="fa fa-shopping-cart"></i> ADD TO CART</button>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="parallaxBack"></div>

    <div class="latestNews">
        <div class="statsText">
            <h2>LATEST NEWS</h2>
            <a href="#">ALL NEWS IN OUR BLOGS <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="imgLines">
            <div class="read">
                <img src="../others/27.jpg">
                <h3>NEW WEB DESIGN TRENDS</h3>
                <h5>JOHN DOE | 10 DECEMBER</h5>
                <p>Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh
                    volutpat, accumsan purus.</p>
                <button>READ MORE <i class="fa fa-angle-right"></i></button>
            </div>
            <div class="read" id="second">
                <img src="../others/28.jpg">
                <h3>MINIMALISTIC DESIGN FOREVER</h3>
                <h5>JOHN DOE | 9 DECEMBER</h5>
                <p>Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh
                    volutpat, accumsan purus.</p>
                <button>READ MORE <i class="fa fa-angle-right"></i></button>
            </div>
            <div class="read">
                <img src="../others/29.jpg">
                <h3>HIPSTER’S STYLE IN WEB</h3>
                <h5>JOHN DOE | 7 DECEMBER</h5>
                <p>Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh
                    volutpat, accumsan purus.</p>
                <button>READ MORE <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    <div class="mail">
        <h2>STAY INFORMED WITH OUR NEWSLETTER</h2>
        <div>
            <input placeholder="ENTER YOUR EMAIL">
            <button>SUBSCRIBE</button>
        </div>
        <h4><i class="fa fa-info-circle"></i> Please trust us, we will never send you spam</h4>
    </div>

    <div class="findUs">
        <h1>FIND US</h1>
        <div class="contactUsHow">
            <div class="contactUsHow-meth">
                <img src="../others/30.png">
                <div class="data">
                    <h5>CALL US</h5>
                    <p>+61 3 8376 6284</p>
                </div>
            </div>
            <div class="contactUsHow-meth" style="margin-left: 90px; margin-right: 90px;">
                <img src="../others/31.png">
                <div class="data">
                    <h5>ADDRESS</h5>
                    <p>245 Quigley Blvd, Ste K</p>
                </div>
            </div>
            <div class="contactUsHow-meth">
                <img src="../others/32.png">
                <div class="data">
                    <h5>EMAIL</h5>
                    <p>support@bestlooker.pro</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ourProjects">
        <h2>WANT TO DISCUSS YOUR NEW PROJECT?</h2>
        <button>LETS TALK</button>
    </div>
    <div class="footer">
        <img src="../others/33.png">
        <div class="social-handles">
            <div class="social"><i class="fa fa-facebook"></i></div>
            <div class="social"><i class="fa fa-twitter"></i></div>
            <div class="social"><i class="fa fa-behance"></i></div>
            <div class="social"><i class="fa fa-linkedin"></i></div>
            <div class="social"><i class="fa fa-pinterest"></i></div>
        </div>
        <a href="#">RHYTHM 2019.</a>
        <h5>Made with love for great people.</h5>
    </div>

    <button class="Buy"><i class="fa fa-shopping-cart" aria-hidden="true"></i><br>BUY</button>

</body>

</html>