<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div><img src="../others/logo-dark.png" class="logo"></div>
        <nav class="active">
            <ul>
                <li><a href="#" class="active">HOME <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <dropdown class="dropdown">
                    <ul>
                        <li class="dropdown-content"><a href="#">MULTI PAGE</a></li>
                        <li class="dropdown-content"><a href="#">MULTI PAGE</a></li>
                    </ul>
                    <ul>
                        <li class="dropdown-content"><a href="#">MULTI PAGE</a></li>
                        <li class="dropdown-content"><a href="#">MULTI PAGE</a></li>
                    </ul>
                </dropdown>
                </li>
                <li><a href="#">PAGES <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="#">ELEMENTS <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="#">PORTFOLIO <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="#">BLOG <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="#">SHOP <i class="fa fa-angle-down" aria-hidden="true" style="margin-right: 35px"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i> SEARCH </a></li>
                <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> CART(0) </a></li>
                <li><a href="#">ENG <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
        <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true" style="color: black"></i></div>
    </header>
</body>

</html>